body { 
    color: #0c00f5;
    background-color: #e6ceff;
    margin:20px;
    padding:5px;
}
h1{

    color:#000b84;
    text-align: center;
    padding:5px;

}
.links{
    color: #000a94;
}

.nav{
    background-color: #ffffff;
    padding: 10px;
    
}

nav a {
    color: #000000;
    
    
}

nav a:hover {background-color: #4f72ff;}

.left{float:left;}
.right{float:right;}

/*div{         
    margin:20px;
    border-radius: 1em;
    background-color: #ffffff;
   }*/



   .row1 div{
    flex:1; /*This is the size of the column*/
   }


   .col3{float:left;}
   .col4{float:right;}
   .col2, .col3{flex:2;}
   .row1, .row2{
    display: flex; 
    /*This tells browser we have a row. Automatically it makes row1 a row and all the children become columns in that row*/
}
 div{
    display:flex;
    padding:2px;
}

aside{         
    margin:20px;
    border-radius: 1em;
    background-color: #ffffff;
    padding:20px;
   }

.flexbox2{
    display:flex;
    padding: 10px;

}
.row1{
    flex:3;
    justify-content: space-between;
    width: 75%;
    margin-top:90px;
    padding: 10px;
    
}

.row2{
    flex: 1;
    width: 25%;
    padding: 10px;
    flex-wrap: wrap;
}

body{
    padding: 2px;

}

p{
    padding: 5px;
    font-size:large;
}

.headerimage{
    max-width: 100%;
}

@media only screen and (max-width: 800px){
    nav a{
        display: block;
    }
    span{
        display:none;
    }
}




